html, body {
  height: 100%;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
  
input {
  width: 60%;
  border: 1px solid #ddd;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 60%;
  height: 50px;
  font-size: 14px;
  background: #069;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  color: #FFF;
  margin-top: 10px;
}
  
div.messages {
  width: 60%;
  height: 400px;
  margin: 20px 0;
  border: 1px solid #ddd;
  padding: 20px;
  overflow: auto;
}

div.message {
  border-left: 6px solid #069;
  background-color: #f9f9f9;
  padding: 10px;
  margin-bottom: 10px;
}

span.date_msg {
  font-style: italic !important;
  padding-right: 10px;
  color: #707070;
}

span.author_msg {
  font-weight: bold;
  color: #069;
}

span.message {
  font-style: normal;
  font-size: 16px;
}

.line{
    border: 0;
    background-color: #ddd;
    height: 3px;
}

.sub, .sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

.sup {
  top: -0.5em;
}

.sub {
  bottom: -0.25em;
}
